:root {
  --color-text: hsl(180, 1%, 23%);
  --primary: hsl(212, 51%, 40%);
  --primary-50: hsl(212, 51%, 50%);
  --secondary: hsl(39, 22%, 40%);
  --color-background: hsl(212, 38%, 82%);
  --color-background-variant: hsl(38, 100%, 92%);

  --color-background-secondary: hsl(0, 0%, 91%);
  --color-background-secondary-80: hsl(0, 0%, 80%);

  --color-black-0: hsla(0, 0%, 0%, 0);
  --color-black-50: hsla(0, 0%, 0%, 0.498);
}
