@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
@import './reset.scss';
@import './base.scss';

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background-color: rgba(255, 0, 0, 0.21);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Sanchez, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
